* {
    margin: 0;
    list-style: none;
 }

 body {
    font-family: 'Mulish', sans-serif;
    background-color: #ece9e4c0;
 }

 .secao-topo {
    border-bottom: 1px solid #827c7c;
}

.secao-informacao {
    max-width: 670px;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    font-size: 26px;
    font-weight: bolder;
}

h1 {
    padding-top: 10px;
    font-size: 35px;
}

h2 {
    padding-top: 10px;
    font-size: 28px;
}

h3 {
    font-size: 17px;
}

h4 {
    padding-top: 10px;
    font-size: 22px;
}

p {
    font-size: 20px;
}

.secao-capa {
    min-height: 500px;
    background-image: url('imagem/tecnologia-da-informacao.jpeg');
    background-size: cover;
}

.secao-background-conteudo {
    text-align: center;
    padding: 20px 20px;
}

.sobre-mim {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 30px 0px;
}

.sobre-mim h3 {
    padding: 20px;
    font-size: 30px;
}

.estudante {
    font-size: 22px;
}

.estudante a {
    text-decoration: none;
    background-color: #227e22;
    color: #f0f8ff;
    font-weight: 700;
    font-size: 18px;
    padding: 3px;
    border-radius: 10px;
    border: 3px solid #8d8282;
}

.estudante a:hover {
    background-color: #269d26;
}

.secao-das-imagens {
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-conteudo {
    width: 120px;
    padding: 10px;
}

.img-conteudo:hover {
    scale: 1.2;
    transition: .6s;
    opacity: 0.9;
}

.secao-atuacao {
    text-align: center;
    margin: 50px 0px 0px 0;
}

.secao-atuacao h3 {
    font-size: 30px;
}

.secao-das-listas {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px;
}

.secao-li {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.introducao {
    width: 0%;
    position: absolute;
    left: 470px;
}

.secao-li li {
    max-width: 480px;
    font-size: 16px;
    text-align: right;
    margin-top: 10px;
    margin: 2px;
}


.projeto-site {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.projeto-site h2 {
    margin: 20px;
    font-size: 25px;
}

.imagem-final {
    width: 180px;
}

.imagem-final:hover {
    scale: 1.2;
    transition: .6s;
    opacity: 0.9;
}

footer {
    max-width: 400px;
    background: #9976d2;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: 5px solid #6b6b8c;
}

.rodape {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.rodape-conteudo {
    display: flex;
    flex-direction: column;
}

.rodape-conteudo h2 {
    color: #fff;
    margin: 0 0 15px 0;
    font-size: 30px;
    border: #962121;
}

.rodape-conteudo div {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.rodape-conteudo img {
    width: 30px;
}

.rodape-conteudo img:hover {
    scale: 1.7;
    transition: .3s;
    opacity: 0.8;
}

.rodape-conteudo span {
    color: #fff;
    font-size: 18px;
    margin: 0 0 0px 10px;
}

@media (max-width: 480px) {
    .secao-informacao {
        text-align: center;
    }
  
    .estudante {
        width: 85%;
        text-align: center;
    }

    .img-conteudo {
        width: 25%;
    }

    .secao-li {
        width: 85%;
        margin: 0 auto;
        position: relative;
    }
    
     .introducao {
        width: 0%;
        position: absolute;
        left: 130px;
    }
    
     .footer {
        width: 90%;
        padding: 15px;
    }

    .rodape-conteudo img {
        width: 5%;
        padding-left: 45px;
    }

    .rodape-conteudo span {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

}
